/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    
}   

body {
    
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    overflow: hidden;
    
}

/* Portrait layout (default) */
.app {
    
    height: 100%;
    width: 100%;  
    background-color: transparent;
    position: absolute;
    overflow: hidden;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.contentcom{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 10%;
    background-color: white;
    
}


.homeimg{
    width: auto;
    height: 80%;
}

.btnhome{
    position: absolute;
    bottom: 4%;
    background-color: #215BE2;
    width: 33%;
    height: 7%;
    outline: none;
    border: 1px solid white;
}

.qrimg{
    width: auto;
    height: 80%;
}

.btnqr{
    position: absolute;
    left: 33%;
    bottom: 4%;
    background-color: #215BE2;
    width: 33%;
    height: 7%;
    outline: none;
    border: 1px solid white;
}

.comimg{
    width: auto;
    height: 100%;
}

.btncom{
    position: absolute;
    left: 66%;
    bottom: 4%;
    background-color: #bdcef6;
    width: 34%;
    height: 7%;
    outline: none;
    border: 1px solid white;
}

.searchdiv{
    position: absolute;
    top: 15%;
    height: 70%;
    width: 100%;
    background-color: transparent;
}

.inputcom{
    width: 90%;
    height: 9vw;
    position: absolute;
    left: 5%;
    top: 15%;
    outline: none;
    border: 1px solid #215BE2;
    font-size: 6vw;
    text-align: center;
}

.btnsearch{
    width: 90%;
    height: 13vw;
    position: absolute;
    left: 5%;
    top: 35%;
    outline: none;
    border: none;
    background-color: #215BE2;
    color: white;
    font-size: 6vw;
   box-shadow: -2px 6px 44px -6px rgba(0,0,0,0.75);
}